<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="css/Admin.css"></link>
    <h1></h1>
    <h3 class="nombre">{{currentUser}}</h3>
</head>
<body>
    <center>
        <article>
        	<div class = "container">
    		    <form action="/createQuestion" method="GET">
    		        <input class="btn-default" name="createQuestion_btn" type="submit" value="Crear Pregunta"/>
    		    </form>
                <form action="/mainpage" method="GET">
                    <input class="btn-default1" name="logout" type="submit" value="Salir">
                </form>
    		</div>
        </article>	    
    </center>
</body>

