<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="Style.css"></link>
</head>
<body>
    <center>
        <header>
        	<h1>Bienvenido {{currentUser}}</h1>
       	</header>

        <article>
        	<div class = "container">
    		    <form action="/createQuestion" method="GET">
    		        <input class="btn-default" name="createQuestion_btn" type="submit" value="Crear Pregunta"/>
    		    </form>
                <form action="/" method="GET">
                    <input class="btn-default" name="logout" type="submit" value="Salir">
                </form>
    		</div>
        </article>	    
    </center>
</body>

