<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="css/GamerMenu.css"></link>
    <h1>Bienvenido <h3 class="nombre">{{currentUser}}</h3></h1>
</head>
<body>
	<center>
		<h3 class="texto">Puntaje Actual:<h3 class="puntaje">{{score}}</h3></h3>
		<article>
		<div class="container">
			<form action="/gameMenu" method="POST">
				<input type="submit" name="typeOfGame" class="btn-default" value="1 Jugador"/>
				<input type="submit" name="typeOfGame" class="btn-default" value="2 Jugadores"/>
			</form>
			<form action="/mainpage" method="GET">
					<input type="submit" name="Logout" class="btn-default1" value="Salir"/>
			</form>		
			<h3>{{textoInvitaciones}}</h3>
			<form action="/gameMenu" method="POST">	
				<input type="submit" name="Invitacion" class="btn-default" value= {{Notificacion1}}/>
				<input type="submit" name="Invitacion" class="btn-default" value= {{Notificacion2}}/>
				<input type="submit" name="Invitacion" class="btn-default" value= {{Notificacion3}}/>
			</form>
			<h3>{{textoPartidas}}</h3>
			<form action="/gameMenu" method="POST">
				<input type="submit" name="Partida" class="btn-default" value= {{Partida1}}/>
				<input type="submit" name="Partida" class="btn-default" value= {{Partida2}}/>
				<input type="submit" name="Partida" class="btn-default" value= {{Partida3}}/>
			</form>
		</div>
		</article>	
	</center>
</body>
