<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="css/GamerMenu.css"></link>
    <h1>Bienvenido <h3 class="nombre">{{currentUser}}</h3></h1>
</head>
<body>
	<center>
		<h3 class="texto">Puntaje Actual:<h3 class="puntaje">{{score}}</h3></h3>
		<article>
		<div class="container">

		<button id="1 Player" class="btn-default">1 Jugador</button>
		<button id="2 Player" class="btn-default">2 Jugadores</button>
		<button id="Logout" class="btn-default1">Salir</button>
		<button id="Notificaciones" class="btn-default">Notificaciones</button>

		</div>
		</article>	
	</center>
</body>
