<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="chat">    <!-- Built by JS --> </div>
    <script src="websocketDemo.js"></script>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Pregunta2</title>
    <link rel="stylesheet" type="text/css" href="css/Play.css"></link>
    <h1>PREGUNTA</h1>
</head>
<body>
	<center>
		<div id="question"><!-- Built by JS --></div>
		<div id="options"><!-- Built by JS --></div>
        <div id="results"><!-- Built by JS --></div>
    	<script src="websocketDemo.js"></script>
	</center>
</body>