<html>
<head>
    <title>Pagina Principal</title>
    <link rel="stylesheet" type="text/css" href="css/MainPage.css"></link>
    <h1></h1>
</head>
<body >
	<center>
	    <article>
	    	<div class = "container">
			    <form action="/login" method="GET">
			        <input class="btn-default" name="login_btn"  type="submit" value="Iniciar Sesion"/>
			    </form>

			    <form action="/register" method="GET">
			        <input class="btn-default" name="register_btn" type="submit" value="Registrarse"/>
			    </form>
			</div>
	    </article>	    
	</center>
</body>