<center>
    <h2>Menu Principal</h2><br>
    <br>
    <form action="/login" method="get">
        <input type="submit" value="login" 
            name="login_btn" id="login" />
    </form>
    <br>

</center>
