<!DOCTYPE html>
<html>
<head>
    <title>Pagina Principal</title>
    <link rel="stylesheet" type="text/css" href="css/MainPage.css"></link>
</head>
<body>
	<div id="banner">
		<img src="css/Fondo1.jpg" id="banner_img">
	</div>
	<center>
		<h1>Bienvenido al PTR</h1>
	</center>
	<ul>
		<li>
		<li>
		<li>
		<li>
	<ul>
	<center>
	    <article>
	    	<div class = "container">
			    <form action="/login" method="GET">
			        <input class="btn-default" name="login_btn"  type="submit" value="Iniciar Sesion"/>
			    </form>

			    <form action="/register" method="GET">
			        <input class="btn-default" name="register_btn" type="submit" value="Registrarse"/>
			    </form>
			</div>
	    </article>	    
	</center>
</body>