<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/Pairing.css"></link>
</head>
<body>
	<center>
		<header>
			<h1></h1>
		</header>
		<article>
			<div class = "container">
				<p class="Error">{{msgFailInvitation}}</p>
				<p class="Sucess">{{msgSucessInvitation}}</p>
				<h2><img src="imagenes/PerfilEmparejar.png"></h2>
				<form action="/pairingForSearch" method="POST">
					<input class="form-control"  name="txt_username" type="text" placeholder="Nombre de Usuario"  value=""/><br>
					<input class="btn-default" name="btn_pairing" type="submit" value="Emparejar con Usuario "/>
				</form>
        <form action="/gameMenu" method="GET">
  					<input type="submit" name="Logout" class="btn-default1" value="Salir"/>
  			</form>
			</div>
		</article>
	</center>
</body>
