<!DOCTYPE html>
<html>
<head>
    <title>Pregunta</title>
    <link rel="stylesheet" type="text/css" href="css/Play.css"></link>
    <h1>PREGUNTA</h1>
</head>
<body>
	<center>
		<article>
		<div>
			<h2>{{question}}</h2>
		</div>
		<div class="container">
			<form action="/play" method="POST">
				<input class="btn-default" name="btn_option" type="submit"  value="{{option1}}" />
				<input class="btn-default" name="btn_option" type="submit"  value="{{option2}}" />
				<input class="btn-default" name="btn_option" type="submit"  value="{{option3}}" />
				<input class="btn-default" name="btn_option" type="submit"  value="{{option4}}" />
			</form>
		</div>
		</article>	
	</center>
</body>