<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="css/StyleRegister.css"></link>
</head>
<body>
	<center>	
		<header>
			<h1></h1>
		</header>
		<article>
			<h2 class="note">*El nombre de usuario debe contener al menos un caracter</h2>
			<h2 class="note">*La contraseña debe contener al menos un caracter</h2>
			<p class="Error">{{msgFailRegis}}</p><p class="Sucess">{{msgSucessRegis}}</p>
			<div class = "container">
				<form action="/register" method="POST">
					<input class="form-control"  name="txt_username" placeholder="Nombre de Usuario" type="text" value="" /><br>
					<input class="form-control"  name="txt_password" placeholder="Contraseña" type="password" value="" /><br>
					<input class="btn-default" name="btn_register" type="submit" value="Registrarse"/>
				</form>
				<form action="/mainpage" method="GET">
					<input class="btn-default" name="mainpage" type="submit" value="Menu Principal">
				</form>
			</div>
		</article>	
	</center>
</body>