.btn-default{
	height: 40px;
	width: 200px;
	font-size: 18px;
	margin-top: 50px;
	background-color: #fff;
	padding-left: 10px;
	border-radius: 10px;
}
.btn-default:hover{
	cursor: pointer;
  	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  	transition: all 0.2s ease;
}
.nombre{
	color: green;
	position: absolute;
	top: -1%;
	left: 61%;
	font-size: 25px;
}
h1{
	background-color:#A9A9A9;
	border-bottom: 15px solid;
	font-size: 50px;
	text-align: center;
	margin-top: -1%;
	height: 70px;
	margin-left: -1%;
	margin-bottom: 0px;
}

body{
	background-color: #F0FFF0;
}


.btn-default1{
	height: 40px;
	width: 150px;
	font-size: 18px;
	margin-bottom: 15px;
	background-color: #fff;
	padding-left: 10px;
	border-radius: 10px;
	position: absolute;
	top: 1%;
	left: 1%; 
}
.btn-default1:hover{
	cursor: pointer;
  	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  	transition: all 0.2s ease;
}
