.btn-default:hover{
	cursor: pointer;
}

header{
	border-bottom: 10px solid;

}
body{
	background-image: url("../imagenes/FondoMain.jpg"); 
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
}



div{
	width: 500px;
	height: 100%;
	margin-top: 200px;
	display: inline-flex;
}

form{
	margin-left: 80px;
}

.btn-default{
	background: #31384A;
	color: #fff;
	font-size: 35px;
	padding: 12px;
	position: relative;
	right: 30%;
	margin-right: 10px;
	border-radius: 10px;
}

h1{
	background-image: url("../imagenes/TituloMain.png"); 
	background-repeat: no-repeat;
	background-position: 50%;
	background-color:#67C3DA;
	border-bottom: 15px solid;
	font-size: 50px;
	color:black;
	text-align: center;
	margin-top: 0px;
	height: 70px;
	margin-bottom: 0px;
}