h1{
	background-color:#67C3DA;
	background-image: url("../imagenes/TituloPregunta.png");
	background-repeat: no-repeat;
	background-position: 50% 15px;
	border-bottom: 15px solid;
	margin-top: -1%;
	height: 90px;
	margin-bottom: 100px;
}
*{
	padding: 0px;
	margin: 0px;
}
div{
	margin: auto;
	width: 450px;
	background: rgba(0,0,0,0.4); 
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
	border-radius: 5px;
}
body{
	background-image: url("../imagenes/completo.jpg");
	background-repeat: no-repeat;
	background-size: 80% ;
	background-position: 100px 50px;
}

.btn-default{
	height: 45px;
	width: 250px;
	font-size: 18px;
	margin-bottom: 15px;
	background-color: #fff;
	padding-left: 10px;
	border-radius: 10px;
}
.btn-default:hover{
	cursor: pointer;
	color: red;
}
.btn-default1{
	height: 40px;
	width: 150px;
	font-size: 18px;
	margin-bottom: 12px;
	background-color: #fff;
	padding-left: 10px;
	border-radius: 10px;
	position: absolute;
	top: 1%;
	left: 1%; 
}
.btn-default1:hover{
	cursor: pointer;
  	box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  	transition: all 0.2s ease;
}