body{
	background-image: url("../imagenes/FondoMain.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
}
.note{
	color: blue;
}
.titulo{
	font-size: 50px;
}
.Sucess{
	color: green;
	font-size: 30px;
}
h1{
	background-image: url("../imagenes/TituloRegistrar.png");
	background-repeat: no-repeat;
	background-position: 50%;
	border-bottom: 15px solid;
	background-color:#67C3DA;
	height: 72px;
}
*{
	margin: 0px;
	padding: 0px;
}

.Error{
	color: red;
	font-size: 30px;
}
.container{
	margin: auto;
	width: 450px;
	background: rgba(0,0,0,0.7);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 10px;
}
.form-control{
	height: 45px;
	width: 250px;
	font-size: 18px;
	margin-bottom: 15px;
	background-color: #fff;
	padding-left: 10px;
}
.btn-default:hover{
	cursor: pointer;
	background-color: #F5EAEA;
}
.btn-default{
	height: 45px;
	width: 250px;
	font-size: 18px;
	margin-bottom: 15px;
	background-color: #fff;
	padding-left: 10px;
	border-radius: 10px;
}